* {
	overflow: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25);
	background-image: url('http://picsum.photos/1920/1080');
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 5px;
	width: 60vw;
	height: 60vh;
	box-shadow: 2px 2px 5px rgb(141, 141, 141);
	z-index: 1;
}

label {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 10px;
	font-weight: bold;
}

input {
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1.15rem;
}

form button {
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 80%;
	background-color: rgb(147, 37, 66);
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.15rem;
	letter-spacing: 2px;
}

form button:hover {
	background-color: rgb(147, 37, 66, 0.8);
}

span.error {
	color: red;
	font-size: 0.8rem;
}

span.success {
	color: green;
}

span a {
	color: rgb(147, 37, 66);
	font-size: 1.15rem;
	letter-spacing: 2px;
}
